 <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Edit Etiqueta</h4>
  </div>
  <div class="modal-body">
    <form #addEtiquetaForm="ngForm" class="ng-untouched ng-pristine ng-invalid" novalidate="">
      <ng-container>

        <div class="form-group material-disabled col-md-5">
          <label for="keyId">keyId</label>
          <input name="keyId" [(ngModel)]="etiqueta.keyId" [ngModelOptions]="{standalone: true}" id="keyId" placeholder="Required..." disabled required>
        </div>

        <div class="form-group material-disabled col-md-5" *ngIf="ambitos!=null">
          <label for="idng">Ambitos</label>
          <ng-multiselect-dropdown class="select-dropdown" id = "idng" [(ngModel)] = "ambitosSelecMDE" [ngModelOptions]="{standalone: true}" [placeholder]="'Select:'" [data]="ambitosMDE" [settings]="dropdownSettings">
          </ng-multiselect-dropdown>
        </div>


        <div class="form-group material-disabled col-md-5">
          <ngb-tabset [destroyOnHide]=false>
            <ngb-tab *ngFor="let eti of etiquetasLangs;let i = index">
              <ng-template ngbTabTitle>{{eti.language}}</ng-template>
              <ng-template ngbTabContent>
                <div class="md-form">
                  <textarea [(ngModel)] ="eti.content" [ngModelOptions]="{standalone: true}" class="md-textarea form-control" rows="3"></textarea>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>


      </ng-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Close</button>
    <button type="submit" mdbBtn color="primary" (click)="onSubmit()" class="relative waves-light" mdbWavesEffect>Save!</button>
  </div>

<!--<div class = "form container">-->
<!--  <form (ngSubmit)="submitEditForm()">-->
<!--    <div class="form-group">-->
<!--      <label for="keyId">keyId</label>-->
<!--      <input type="text" class="form-control" required id = "keyId" [(ngModel)]="keyIdIni" (value) = "keyId" (>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="content">keyId</label>-->
<!--      <input type="text" class="form-control" required id = "content" [(ngModel)]="contentIni" (value) = "content" (>-->
<!--    </div>-->

<!--    <button type="submit" class="btn btn-success">Submit</button>-->

<!--  </form>-->
<!--</div>-->

<!--
<h1 mat-dialog-title>Edit Tag</h1>
<div mat-dialog-content>
  <p ng-hide = "!(checkValidityOfForm())">There are errors, please fix.</p>
  <mat-form-field>
    <label for = keyId>keyId</label>
    <input matInput id = keyId type = "text" readonly = true [(ngModel)]="keyId">
  </mat-form-field>
  <mat-form-field>
    <label for = content>content</label>
    <input matInput id = content [(ngModel)]="content">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click) = "closeDialog('close')">Close</button>
  <button mat-button (click) = "submitEditForm()" ng-hide = "!(checkValidityOfForm())"[mat-dialog-close]="formIsValid">Submit</button>
</div> -->
