body {
    margin: auto;
    padding: auto
}

.container {
    width: 1000px;
    /* Or whatever */
    height: auto;
    /* Or whatever */
    margin: auto;
}

.searchContainer {
    width: 975px;
    height: auto;
    margin: auto;
}

.button-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-deck {
    width: 100%;
}

.card-body {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#etiquetaCard {
    text-align: center;
    vertical-align: middle;
}

.fa {
    margin-left: 5%;
    margin-right: 5%;
}