<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
        <h4 class="modal-title w-100" id="myModalLabel">Create Etiqueta</h4>
    </div>
    <div class="modal-body">
        <form #addEtiquetaForm="ngForm" class="ng-untouched ng-pristine ng-invalid" novalidate="">
            <ng-container>


                <div class="form-group material-disabled col-md-5">
                    <label for="keyId">keyId</label>
                    <input name="keyId" ngModel id="keyId" placeholder="Required..." required>
                </div>


                <div class="form-group material-disabled col-md-5">
                    <label for="pages">Ambitos</label>
                    <ng-multiselect-dropdown class="select-dropdown" name="pages" ngModel [placeholder]="'Select:'" [data]="ambitosMDE" [settings]="dropdownSettings">
                    </ng-multiselect-dropdown>
                </div>


                <div class="form-group material-disabled col-md-5">
                    <ngb-tabset [destroyOnHide]=false>
                        <ngb-tab *ngFor="let lang of languages">
                            <ng-template ngbTabTitle>{{lang}}</ng-template>
                            <ng-template ngbTabContent>
                                <div class="md-form">
                                    <textarea name="{{'content'+lang}}" ngModel class="md-textarea form-control" rows="3"></textarea>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>


            </ng-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()" mdbWavesEffect>Close</button>
        <button type="submit" mdbBtn color="primary" (click)="onFormSubmit(addEtiquetaForm)" class="relative waves-light" mdbWavesEffect>Save!</button>
    </div>
</div>























<!-- 
<h1 mat-dialog-title>Create Tag</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Availability</mat-label>
            <mat-radio-group [(value)]="available">
                <mat-radio-button value="true">Enable</mat-radio-button>
                <mat-radio-button value="false">Disable</mat-radio-button>
            </mat-radio-group>
        </mat-form-field>
        <mat-form-field>
            <mat-label>KeyId</mat-label>
            <label for="keyId"></label>
            <input matInput placeholder="Required" [(ngModel)]="keyId" name="keyID" required>
        </mat-form-field>
        <mat-form-field>
            <ng-multiselect-dropdown class="select-dropdown" [placeholder]="'Select:'" [data]="ambitosMDE" [(ngModel)]="ambitosSelecMDE" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
        </mat-form-field>
        <mat-form-field>
            <mat-tab-group>
                <mat-tab label="ES">
                    <mat-form-field *ngFor="let lang of languages;let i = index">
                        <textarea [(ngModel)]="contents[i]" matInput></textarea>
                    </mat-form-field>
                </mat-tab>
            </mat-tab-group>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <div class="btn-group" role="group" aria-label="buttons">
            <button mat-button (click)="closeDialog('close')" type="button" class="btn btn-secondary">Cloe</button>
            <button mat-button (click)="submitCreateForm()" type="button" class="btn btn-secondary">Submit</button>
        </div>
         <button mat-button (click)="submitCreateForm()" ng-hide="!(checkValidityOfForm())" [mat-dialog-close]="formIsValid">Submit</button> -->
<!-- </div>
</div> -->